Source: ros-indigo-pathtools
Section: misc
Priority: extra
Maintainer: Thomas Kostas <Thomas.Kostas@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-catkin-pip
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-pathtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: File system general utilities
